// Couleurs
$color-primary: #f77f00;
$color-secondary: #009e60;
$color-white: #ffffff;
$color-dark: #333;
$color-light: rgba(255, 255, 255, 0.8);
$color-background: rgba(0, 0, 0, 0.7);
$color-hint: #666;

// Fontes et tailles
$font-family-main: "Lora", serif;
$font-size-base: 1rem;

// Hauteurs
$header-height: 10vh;

$container-padding: 10rem; // Ajoute cette ligne
$container-padding-mobile: 0; // Padding pour mobile
